.final-banner {
	border: 1px solid #D8D1D1;
	position: relative;
}

.dragging {
	border: 1px solid blue;
	cursor: move;
}

.project .html-result {
	border: 1px solid #D8D1D1;
	width: 730px;
	height: 200px;
}